html, body{
    
    font-size: 16px;
    font-family: 'Courier New', monospace;
    background-image: url("https://kartinkin.net/uploads/posts/2021-01/1610832524_14-p-bezhevii-neitralnii-fon-16.jpg");
}