html, body{
    margin: 0;
    font-size: 16px;
    font-family: 'Courier New', monospace;
}
.header{
    background-color: skyblue;
    padding: 35px 0;
}
.container{
    width: 1240px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.header-right{
    color: white;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 55px;
    line-height: 1em;
    margin-left: 27px;
    justify-content: center;
    text-align: center;
}

/* NEW */
.menu {
    height: 60px;
}
.menu__container {
    position: relative;
}
.catalog {
    position: absolute;
    width: 260px;
    top: 0;
    background-color: #fff;
}
.catalog__header {
    height: 60px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    border-top: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.catalog__header-icon {
    font-size: 21px;
}
.catalog__list {
    position: relative;
    z-index: 2;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.catalog__link {
    height: 60px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    align-items: center;
    display: flex;
}
.catalog__link-img {
    margin-right: 10px;
    margin-top: -3px;
}
.catalog__subcatalog {
    width: 867px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 280px;
    top: 0;
    height: 100%;
    padding: 20px;
    transition: all .3s;
}
.catalog__item:hover .catalog__subcatalog { 
    opacity: 1;
    visibility: visible; 
    left: 260px; 
}
.catalog__subcatalog-link {
    font-size: 14px;
    color: #111;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu__nav {
    padding-left: 1100px;
    height: 100%;
    font-family: fantasy;
    text-align: center;
    justify-content: center;
    font-size: 25px;
}
.slider {
    background: url(https://static6.depositphotos.com/1052468/595/v/450/depositphotos_5958749-stock-illustration-seamless-electronic-products-background.jpg);
    height: 541px;
}

p {
    margin: 0;
    padding: 0;
}
img {
    border-style: none;
}
a {
    color: #111;
    text-decoration: none;
}
a:hover {
    color: blue;
}
/* END */